// 
	.
	 _     _ _     _ _  ___   __   ___  
	| |__ (_) |__ (_) |/ _ \ / /_ / _ \ 
	| '_ \| | '_ \| | | | | | '_ \ (_) |
	| |_) | | |_) | | | |_| | (_) \__, |
	|_.__/|_|_.__/|_|_|\___/ \___/  /_/
	.
doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name="theme-color" content="rgb(245, 185, 29)")
		link(rel='icon', href='/images/icon.png')
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		block head
	body
		block content
